<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSButtonCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>RESPRING</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Are you sure?</string>
				<key>title</key>
				<string>Respring</string>
				<key>cancelTitle</key>
				<string>CANCEL</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSEditTextCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>ファイル</string>
			<key>defaults</key>
			<string>com.zunda.examplepreferences</string>
			<key>key</key>
			<string>textFiled</string>
			<key>keyboard</key>
			<string>phone</string>
			<key>autoCaps</key>
			<string>sentences</string>
			<key>placeholder</key>
			<string>入力してください</string>
			<key>PostNotification</key>
			<string>com.zunda.examplepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSSecureEditTextCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>defaults</key>
			<string>com.zunda.examplepreferences</string>
			<key>key</key>
			<string>textFiled</string>
			<key>placeholder</key>
			<string>パスコード</string>
			<key>PostNotification</key>
			<string>com.zunda.examplepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSEditTextViewCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextViewCell</string>
			<key>defaults</key>
			<string>com.zunda.examplepreferences</string>
			<key>key</key>
			<string>textFiled</string>
			<key>height</key>
			<real>100</real>
			<key>placeholder</key>
			<string>HTML形式に変換</string>
			<key>PostNotification</key>
			<string>com.zunda.examplepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSGiantCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGiantCell</string>
			<key>label</key>
			<string>PSGiantCell(ただ大きいだけ説)(GitHubでは2年間誰にも使われていない)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSGiantIconCell(大きい画像を載せるときに使うといいかも)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGiantIconCell</string>
			<key>icon</key>
			<string>BBHLogo.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSLinkCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>DefaultListController</string>
			<key>label</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSListItemCell(PSLinkListCellを使うの賢い(多分))</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>label</key>
			<string>ITEM1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>label</key>
			<string>ITEM2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>label</key>
			<string>ITEM3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSSegmentCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.zunda.examplepreferences</string>
			<key>key</key>
			<string>TapticStrength</string>
			<key>staticTextMessage</key>
			<string>TapticStrength</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LIGHT</string>
				<string>MEDIUM</string>
				<string>HEAVY</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>light</string>
				<string>medim</string>
				<string>heavy</string>
			</array>
			<key>alignment</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.zunda.examplepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSSliderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>com.zunda.examplepreferences</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>volume</string>
			<key>max</key>
			<string>1.0</string>
			<key>min</key>
			<string>0.0</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSSpinnerCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSpinnerCell</string>
			<key>label</key>
			<string>PSSpinnerCell(ロード中を示せるが静的に変更されないため動的に導入されることを想定している)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSStaticTextCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>PSStaticTextCell</string>
			<key>get</key>
			<string>returnString</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.zunda.examplepreferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>alternateColors</key>
			<true/>
			<key>control-loading</key>
			<false/>
			<key>negate</key>
			<true/>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSTitleValueCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>PSTitleValueCell</string>
			<key>get</key>
			<string>returnString</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PSLinkListCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.zunda.examplepreferences</string>
			<key>key</key>
			<string>selectedSound</string>
			<key>label</key>
			<string>Sound</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>boyon1.mp3</string>
				<string>bruhSound.mp3</string>
				<string>click1.mp3</string>
				<string>click2.mp3</string>
				<string>drum-japanese1.mp3</string>
				<string>electric-fan-off1.mp3</string>
				<string>electric-fan-on1.mp3</string>
				<string>eye-shine1.mp3</string>
				<string>keyboard1.mp3</string>
				<string>keyboard2.mp3</string>
				<string>pa.mp3</string>
				<string>pafu.mp3</string>
				<string>switch1.mp3</string>
				<string>typewriter1.mp3</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>PostNotification</key>
			<string>com.zunda.examplepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>footerAlignment</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>©2020 zunda</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>isStaticText</key><!--謎-->
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>ExamplePreferences</string>
</dict>
</plist>
